.revCardLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(241, 241, 241, 1);
  padding: 40px;
  gap: 35px;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 5px;
}

.nameEmail {
  display: flex;
  justify-content: space-between;
}

.nameEmail .email {
  background-color: rgba(186, 151, 120, 1);
  padding: 5px 25px;
  border-radius: 63px;
  font-size: 16px;
  font-weight: 500;
}

.nameEmail .name {
  font-size: 26px;
}

.date,
.cardDescr,
.source {
  font-size: 18px;
}

.cardDescr {
  text-align: start;
  text-wrap: pretty;
}
@media (max-width: 900px) {
  .revCardLayout {
    padding: 30px 20px;
    gap: 25px;
  }

  .nameEmail {
    align-items: flex-start;
    gap: 10px;
  }

  .nameEmail .name {
    font-size: 22px;
  }

  .nameEmail .email {
    font-size: 18px;
    padding: 5px 20px;
  }

  .date,
  .cardDescr {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .revCardLayout {
    padding: 25px 16px;
    gap: 10px;
  }

  .nameEmail .name {
    font-size: 20px;
  }

  .nameEmail .email {
    font-size: 16px;
    padding: 4px 16px;
  }

  .date,
  .cardDescr {
    font-size: 16px;
  }

  .cardHeader {
    gap: 10px;
  }
}
