.loginSection {
  width: 100%;
  height: auto;
  position: relative;
  padding: 170px 0px 100px 0px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.container {
  position: relative;
  max-width: 1400px;
  width: 100%;
  background-color: #20222b;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Reviews Section */
.reviewsBlock {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.header {
  font-size: 38px;
  font-weight: 100;
  color: #ffffff;
  text-align: left;
  padding-top: 20px;
}

/* Review Form */
.reviewForm {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.reviewForm input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ba9778;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 200;
  color: white;
  outline: none;
  width: 100%;
}

.reviewForm textarea {
  background-color: transparent;
  border: 2px solid #ba9778;
  padding: 20px;
  font-size: 18px;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  color: white;
  outline: none;
  height: 250px;
  resize: none;
  width: 100%;
}

.reviewForm textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 200;
}

.namePhoneRow {
  display: flex;
  gap: 40px;
}

.namePhoneRow > * {
  flex: 1;
  width: 100%;
}

.button {
  font-family: "Montserrat", sans-serif;
  padding: 15px 16px;
  background-color: #ba9778;
  color: #222;
  border: none;
  width: 90%;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.button:hover {
  background-color: #d9c09b;
}

.agreementCheckbox {
  margin-top: 0px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkboxInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customCheckbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-right: 10px;
}

.checkboxInput:checked ~ .customCheckbox:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid #cbb18b;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkboxError {
  border-color: #ff6b6b;
}

.checkboxText {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.link {
  color: inherit;
}

.textError {
  color: #ff6b6b;
}

/* Responsive */
@media (max-width: 992px) {
  .infBlock {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .photo {
    max-width: 100%;
    margin-bottom: 20px;
    order: 2;
  }

  .mainInfo {
    align-items: center;
    text-align: center;
    order: 1;
  }

  .namePos {
    align-items: center;
  }

  .phoneEmail {
    flex-direction: row;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 15px;
  }

  .pos,
  .phone,
  .email {
    font-size: 20px;
  }

  .descr {
    order: 3;
  }

  .reviewsBlock {
    order: 4;
    gap: 40px;
  }
  .reviewForm,
  .namePhoneRow {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .header {
    padding-top: 0;
  }

  .button {
    width: 100%;
  }

  .reviewForm textarea {
    width: 100%;
  }
  .title {
    font-size: 32px;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .loginSection {
    padding: 100px 0px 100px 0px;
  }
}
